[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
psycopg2-binary = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
alembic = "*"
bcrypt = "*"
blinker = "*"
click = "*"
flask-cors = "*"
pytest = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
mako = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.8"